*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #000;
    color: #fff;
}
.logo{
    padding-left: 2rem;
}
.logo-text{
    font-size: 2rem;
}
.menubar{
    width: 45%;
    margin-left: 8.5rem
}
.list{
    display: flex;
    justify-content: space-between;
}
.list-item a{
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9em;
    transition: .4s;
}
.list-item{
    color: #3bc95f;
}
.cart{
    padding-right:2rem;
    position:relative;
}
.cart .number-of-item{
    display: flex;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff;
    left: 18px;
    top: -7px;
    background-color: #3bc95f;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.number-of-item .noi{
    font-size: 0.7em;
}
.fa-shopping-cart{
    font-size: 1.5rem;
    cursor: pointer;
}
.burger{
    height: 28px;
    width: 32px;
    display: none;
}
.layer, .layer2, .layer3{
    background-color: #000;
    height: 4px;
    margin-top: 4px;
    width: 100%;
    border-radius: 10px;
}
.section1{
    height: calc(90vh);
    width: 100%;
    background: url("imgs/code_technology_letters_129644_6000x4000 .jpg") center center/cover;
    top: 0;
    left: 0;
    z-index:-1;
}
.section1 .banner{
    height: 170px;
    width: 600px;
    border-radius: 10px;
    background: #ffffffc5;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 8;
}
.banner h1{
    font-size: 2rem;
}
.banner a{
    display: flex;
    justify-content: center;
    padding:1rem 2.5rem;
    font-size: .8rem;
    color: #fff;
    background: #3bc95f;
    transition: all 0.5s ease;
    border-radius: 20px;
}
.banner a:hover{
    background-color: #000;
    color: #fff;
}


/* menubar */

.manu-sidebar{
    display: none;
}
.cart-sidebar{
    background: #fff;
    position: fixed;
    right: 0;
    top:0;
    width: 450px;
    height: 100vh;
    z-index: 10;
    transition: all 0.3s linear;
    transform: translateX(100%);
    overflow: scroll;
}
.card-sidebar .cart{
    padding: 0;
}
.cart .close-cart{
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
}
.fa-items{
    margin-top: .5em;
}
.cart h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-product .product-image img{
    width: 130px;
    height: 90px;
}
.cart-product-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    height: 80px;
}
.plus-minus{
    display: flex;
    transform: rotate(90deg);
    color: #3bc95f;
    font-size: 1.5rem;
    cursor: pointer;
}
.total-sum{
    text-align: center;
    margin: 1rem 0 0.5em 0 ;
}
.clear-cart .btn{
    background-color:#3bc95f ;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1.7em ;
    cursor: pointer;
    transition: .3s linear;
}

.clear-cart .btn:hover{
    border:1px solid #3bc95f;
    background: transparent ;
    color: #000;
}
.overlay{
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: #3bc95f;
    opacity: .3;
    transition: all .3s linear;
}
.none{
    display: none;
}
@media screen and (max-width:750){
    .logo{
        padding-left: 0;
    }
    .cart{
        padding-right:2rem ;
    }
    .menubar{
        display: none;
    }
    .burger{
        margin-left: 2rem;
        display: block;
    }
    .section1 .banner h1{
        font-size: 1.5rem;
    }
    .banner a{
        font-size: .6em;
        padding: 1em 2em;
    }
    .section2 .title h1{
        font-size: 1.5em;
    }
    .menu-sidebar{
        display: block;
        position: fixed;
        left:0;
        top:0;
        width: 100%;
        height: 100vh;
        z-index: 11;
        background-color: #fff;
        overflow: hidden;
        transform: translate(-100%);
        transition: .3s linear ;
    }
    .menu-menubar{
        display: flex ;
        height: 80%;
        justify-content: center;
    }
    .menu-list{
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .menu-sidebar .close-menu{
        position: absolute;
        right: 30px;
        font-size: 1.4em;
    }
    .menu-list-item a{
        color:#3bc95f
    }
    .menu-list-item a:hover{
        color: #3bc95f;
    }
}
@media screen and (max-width:480px) {
    *{
        font-size: 16px;
    }
    .section .banner {
        width: 280px;
        height: 100px;
    }
    .section1 .banner {
        font-size: 1.2em;
    }
    .burger{
        margin-left: 1em;
        display: block;
        width: 30px;
    }
    .cart {
        width: 100%;
    }
    .product{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


